html, body
  background-image url(../media/grid.gif)

#app
  font-family 'Times New Roman', serif
  font-size xx-large
  font-weight bold
  text-align center
  padding-top 2%
  h1, h2, h3
    margin-bottom 0
    font-weight bold
    color #000075

[v-cloak]
  display none
