doctype html
html
  head
    meta(charset='utf-8')
    title INFINITE GENE RAY
    link(rel='stylesheet' href='./css/style.css')

  body
    #app
      p {{text}}

    script(src='https://unpkg.com/vue@next')
    script(type='module' src='./js/main.js')
